.searchBox {
  text-align: center;
  margin: 20px 0 30px 0;
}

.input {
  width: 60%;
  max-width: 400px;
  padding: 12px 16px;
  border: 2px solid #bfdbfe;
  border-radius: 10px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  background: #f9fafb;
}

.input:focus {
  border-color:  #ff4d4d;
  background: #ffffff;
  box-shadow: 0 0 8px rgba(30, 58, 138, 0.3);
}
