.contactForm {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-bottom: 25px;
  flex-wrap: wrap;
}

.input {
  flex: 1;
  min-width: 180px;
  padding: 10px 14px;
  border: 2px solid #bfdbfe;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  background: #f9fafb;
  transition: all 0.3s ease;
}

.input:focus {
  border-color:  #ff4d4d;
  background: #ffffff;
  box-shadow: 0 0 6px rgba(30, 58, 138, 0.3);
}

.submitButton {
  background:  #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background: #2563eb;
  transform: translateY(-2px);
}
